/* 
------COLORS------
Primary Color:  #34C759

Shades
#041007
#08200E
#21823A
#269241

Tints
#EFFBF2
#DFF7E5
#AEEABD
#7DDE59


Secondary Color: 

 */
/* TODO: install Tailwind for styling. Figure out how to use root */

:root {
  --color-primary: #34c759;
  --color-primary-dark: #041007;
  --color-primary-light: #aeeabd;
  --color-bg-light: #eafbea;
  --color-complement: #c73470;
  --color-neutral: #2e2e2e;
}
